<p-panel header="Thêm mới CC/CV" style>
    <form>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">

            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-6 form-group">
                <label for="">Họ và tên</label>
                <input type="text" pInputText>
            </div>
            <div class="col-2"></div>
            <div class="col-4 form-group">
                <label for="">CCCD</label>
                <input type="text" pInputText>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 form-group">
                <label for="">Ngày sinh</label>
                <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
            </div>
            <div class="col-2"></div>
            <div class="col-4 form-group">
                <label for="">Giới tính</label>
                <input type="text" pInputText>
            </div>
        </div>
    </form>
</p-panel>