<p-panel class="no-header">
    <form [formGroup]="formSave">
        <div class="row">
            <div draggable="true" class="image-ipload">
                <div style="width: 100px; position: relative;">
                    <img width="100px" [src]="imgAsset ? imgAsset.src : '../../../../assets/images/unknown-user.png'"  style="object-fit: contain;"/>
                    <span *ngIf="imgAsset" (click)="delImg(imgAsset.id)" class="trash"><span><i
                        class="pi pi-trash"></i></span></span>
                    <a [href]="imgAsset.url" *ngIf="imgAsset" class="download"><span><i
                        class="pi pi-arrow-down"></i></span></a>
                </div>
            </div>
            <div class="d-flex justify-content-center" draggable="true" *ngIf="!imgAsset" >
                <input (change)="imgChange($event)" accept=".png, .jpg, .jpeg" id="filePdf"
                       name="filePdf"
                       type="file" multiple="false" hidden />
                <label class="input-label" for="filePdf" id="assetImage">
                  <i class="pi pi-upload" id="assetImage" style="color: #ad0025 !important;"></i>
                  <span class="attach-text" style="color: #ad0025 !important;" id="assetImage">Chọn tệp</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-4 form-group p-field">
                <label for="username1">Họ và tên<span style="color: red; display: contents;">*</span></label>
                <div>
                    <input id="username1" type="text" formControlName="name" pInputText />
                    <p *ngIf="formSave.get('name').touched && formSave.get('name').errors?.required" style="color: red;">Required</p>
                </div>
            </div>
            <div class="col-3 form-group p-field">
                <label for="cmnd">CMND<span style="color: red; display: contents;">*</span></label>
                <div>
                    <input id="cmnd" type="text" formControlName="codeId" pInputText />
                    <p *ngIf="formSave.get('codeId').touched && formSave.get('codeId').errors?.required" style="color: red;">Required</p>
                    <p *ngIf="formSave.get('codeId').touched && formSave.get('codeId').errors?.pattern" style="color: red;">Invalid numberic</p>
                    <p *ngIf="formSave.get('codeId').touched && formSave.get('codeId').errors?.NaN" style="color: red;">Invalid numberic 2</p>
                </div>
            </div>
            <div class="col-4 form-group p-field p-md-4">
                <label for="icon">Ngày sinh</label>
                <!-- <p-calendar formControlName="birthDay" [showIcon]="true" inputId="icon" dateFormat="dd.mm.yy"></p-calendar> -->
                <p-calendar formControlName="birthDay"  [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators" dateFormat="dd.mm.yy"></p-calendar>
            </div>
        </div>
        <div class="row">
            <div class="col-4 form-group p-field">
                <label for="phone">Số điện thoại<span style="color: red; display: contents;">*</span></label>
                <div>
                    <input id="phone" type="text" formControlName="phone" pInputText />
                    <p *ngIf="formSave.get('phone').touched && formSave.get('phone').errors?.required" style="color: red;">Required</p>
                </div>              
            </div>
            <div class="col-3 form-group p-field">
                <label for="cmnd">Email<span style="color: red; display: contents;">*</span></label>
                <div>
                    <input id="email" type="text" formControlName="email" pInputText />
                    <p *ngIf="formSave.get('email').touched && formSave.get('email').errors?.required" style="color: red;">Required</p>
                    <p *ngIf="formSave.get('email').touched && formSave.get('email').errors?.email" style="color: red;">Email is invalid</p>
                </div>
            </div>
            <div class="col-4 form-group pt-4">
                <div class="custom-style-radio">
                    <p style="text-align: center;">Giới tính</p>
                    <div *ngFor="let g of genders" class="p-field-checkbox">
                        <p-radioButton [inputId]="g.value" [value]="g.value" formControlName="gender"></p-radioButton>
                        <label [for]="g.value">{{g.title}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 form-group p-field">
                <label for="address">Địa chỉ</label>
                <input id="address" type="text" formControlName="address" pInputText />
            </div>
            <div class="col-4 form-group pt-4">
                <label for="cityId" style="margin-right: 20px;">Thành phố</label>
                <p-dropdown [options]="cities" formControlName="cityId" optionLabel="name" optionValue="value"></p-dropdown>
            </div>
        </div>
        <div class="row">
            <div class="col-4 form-group p-field">
                <label for="job">Công việc</label>
                <input id="job" type="text" formControlName="job" pInputText />
            </div>
            <div class="col-4 form-group p-field">
                <label for="organization">Tổ chức<span style="color: red; display: contents;">*</span></label>
                <div>
                    <input id="organization" type="text" formControlName="organization" pInputText />
                    <p *ngIf="formSave.get('email').touched && formSave.get('email').errors?.required" style="color: red;">Required</p>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="style-button">
                <button pButton pRipple type="button" label="Hủy bỏ" class="p-button-raised p-button-secondary" style="margin-right: 30px;" (click)="cancel()"></button>
                <button pButton pRipple type="button" label="Lưu lại" class="p-button-raised" (click)="save()"></button>
            </div>    
        </div>

    </form>
</p-panel>
<p-toast></p-toast>