:host ::ng-deep p-panel .p-panel-title {
    font-size: 18px;
}

:host ::ng-deep .row .custom-style-radio {
    display: flex;
    justify-content: space-around;
}

:host ::ng-deep .row .style-button {
    width: 250px;
    margin-left: calc(50% - 150px);
}

#assetImage {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
}

.image-ipload {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash {
    position: absolute;
    top: 45px;
    left: 47px;
    background-color: darkgrey;
}

.download {
    position: absolute;
    top: 45px;
    left: 100px;
}

:host ::ng-deep .no-header .p-panel-header {
    display: none !important;
}