<p-card>
    <ng-template pTemplate="header">
        <h5 class="title" style="padding: 20px; border-bottom: 1px solid rgba(0, 0, 0, 0.175);;">{{catName}}</h5>
    </ng-template>
    <div class="row">
        <div class="col-4 form-group">
            <div>
                <label for="">Mã code</label>
                <span class="p-float-label">
                    <input type="text" pInputText class="p-inputtext-LG"  placeholder="code" [(ngModel)]="paramSearch.code" (change)="paramSearch.code=paramSearch.code.trim()">
                </span>
                <!-- <input type="text" pInputText class="p-inputtext-lg"  placeholder="Large"/> -->
            </div>
        </div>
        <div class="col-4 form-group">
            <div>
                <label for="">Tên danh mục</label>
                <span class="p-float-label">
                    <input type="text" pInputText class="p-inputtext-LG"  placeholder="tên danh mục" [(ngModel)]="paramSearch.name" (change)="paramSearch.name=paramSearch.name.trim()">
                </span>
                <!-- <input type="text" pInputText class="p-inputtext-lg"  placeholder="Large"/> -->
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div style="display: flex; justify-content: center;">
            <p-button label="Tìm kiếm" icon="pi pi-search" (onClick)="search()"></p-button>
        </div>
    </ng-template>
</p-card>
<div class="card">
    <div style="display: flex; justify-content: space-between; padding: 20px 30px;">
        <h5>Danh mục</h5>
        <p-button label="Thêm mới" icon="pi pi-plus" iconPos="right" (onClick)="new()"></p-button>
    </div>
    <p-table 
            [value]="catItems"
            [paginator]="true"
            [rows]="11"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [resizableColumns]="true"
     >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" pResizableColumn>id <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="code" pResizableColumn>Mã <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="name" pResizableColumn>Tên danh mục <p-sortIcon field="name"></p-sortIcon></th>
                <th pResizableColumn>Mô tả</th>
                <th pResizableColumn style="text-align: center;">Thao tác</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-catItem>
            <tr>
                <td>{{catItem.catId}}</td>
                <td>{{catItem.code}}</td>
                <td>{{catItem.name}}</td>
                <td>{{catItem.description}}</td>
                <td style="display: flex; justify-content: space-evenly;">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="edit(catItem)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(catItem.catId)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>