/* You can add global styles to this file, and also import other style files */
.p-inputtext {
    width: 100%;
}

textarea {
    border: 1px solid #ced4da;
}

em {float:right; color:#E05C65; padding-left:10px;}
.error input, .error select, .error textarea {background-color:#E3C3C5;}
.error ::-webkit-input-placeholder { color: #999; }
.error :-moz-placeholder { color: #999; }
.error ::-moz-placeholder {color: #999; }
.error :ms-input-placeholder { color: #999; }

.p-card-body {
    padding-bottom: 0 !important;
}
